.navv {
  padding: 0 30px;
  display: flex;
  overflow: hidden;
  background-color: #04001e;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  z-index: 9;
}

.plogo {
  margin: 0;
  color: #f9e426;
}
.uler {
  margin: 0;
  display: flex;
  gap: 50px;
  list-style-type: none;
}
.logoer{
  color: #F9E426;
  text-decoration: none;
  font-weight: 800;
}
.logoer:hover{
  color: #F9E426;
  text-decoration: none;
  font-weight: 800;
}

.lier {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.lier:hover {
  color: #F9E426;
}
.ulermd {
  display: none;
}

@media screen and (max-width: 1020px) {
  .navv {
    width: 100%;
    height: 8vh;
    position: inherit;
  }

  .uler {
    display: none;
  }
  .pageLogo {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .plogo {
    font-size: 20px;
  }
  .icon {
    font-size: 30px;
  }
  .meduim {
    background-color: #04001e;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    z-index: 9;
  }
  .ulermd {
    padding: 10px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
  }
}
