.navv {
  padding: 0 30px;
  display: flex;
  overflow: hidden;
  background-color: #04001e;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  z-index: 9;
}

.uler {
  margin: 0;
  display: flex;
  gap: 50px;
  list-style-type: none;
}
.logoer {
  color: #f9e426;
  text-decoration: none;
  font-weight: 800;
}
.logoer:hover {
  color: #f9e426;
  text-decoration: none;
  font-weight: 800;
}

.lier {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.lier:hover {
  color: #f9e426;
}
.ulermd {
  display: none;
}

@media screen and (max-width: 1020px) {
  .navv {
    width: 100%;
    height: 8vh;
    position: inherit;
  }

  .uler {
    display: none;
  }
  .pageLogo {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .plogo {
    font-size: 20px;
  }
  .icns {
    font-size: 30px;
    color: #d8d8d8;
  }
  .icns:hover {
    font-size: 30px;
    color: #f9e426;
  }
  .meduim {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    z-index: 9;
    box-shadow: rgba(95, 95, 95, 0.418) 0px 1px 1px,
      rgba(255, 255, 255, 0.07) 0px 2px 2px,
      rgba(219, 219, 219, 0.07) 0px 4px 4px,
      rgba(235, 235, 235, 0.07) 0px 8px 8px,
      rgba(206, 206, 206, 0.07) 0px 16px 16px;
  }
  .ulermd {
    padding: 10px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
  }
}
