.form {
  width: 100%;
}
form {
  text-align: center;
}
input {
  margin: auto;
  width: 80%;
  padding: 5px 20px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color:transparent
}

.login-btn {
  margin: auto;
  background-color: #03037d;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 60px;
}

.logHeading {
  display: none;
}

@media screen and (min-width: 1020px) {
  .loginrooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    width: 100%;
    height: 90vh;
  }
  .loginImage {
    width: 70%;
    align-items: center;
  }
  .form {
    width: 100%;
  }
  form {
    width: 80%;
    margin: auto;
  }
  .loginImg {
    width: 100%;
  }
  .logHeading {
    display: block;
    font-weight: 700;
    color: #ffffff;
  }
  input {
  margin: auto;
  width: 80%;
  padding: 10px 30px;
  border: 2px solid #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 5px;
}
}
