.form {
  width: 100%;
}
form {
  text-align: center;
}
.lInput {
  margin: auto;
  width: 80%;
  padding: 5px 20px;
  border: 2px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: transparent;
}

.login-btn {
  margin: auto;
  background-color: #f9e426;
  border: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 60px;
}

.logHeading {
  display: none;
}

.loginImage {
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px;
}

.loginImg {
  width: 50%;
  margin: auto;
}

@media screen and (min-width: 1020px) {
  .loginrooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    width: 100%;
    height: 90vh;
  }
  .loginImage {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
  .form {
    width: 100%;
  }
  form {
    width: 80%;
    margin: auto;
  }
  .loginImg {
    width: 50%;
  }

  .logHeading {
    display: block;
    font-weight: 700;
    color: #ffffff;
  }
  .lInput {
    margin: auto;
    width: 80%;
    padding: 10px 30px;
    border: 2px solid #ffffff;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 5px;
  }
}
